/*  Reset CSS   */
button:focus {
  border: none;
  outline: 0 !important; }

button {
  border: none; }

html,
body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 16px; }

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0; }

@font-face {
  font-family: 'fontello';
  src: url(fonts/fontello.eot);
  src: url(fonts/fontello.eot?#iefix) format("embedded-opentype"), url(fonts/fontello.woff2) format("woff2"), url(fonts/fontello.woff) format("woff"), url(fonts/fontello.ttf) format("truetype"), url(fonts/fontello.svg?#fontello) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: fallback; }

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-variant: normal;
  text-transform: none; }

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.otf);
  font-weight: normal;
  font-style: normal;
  font-display: fallback; }

.icon-heart-empty:before {
  content: '\e800'; }

.icon-heart:before {
  content: '\e801'; }

.icon-export:before {
  content: '\e802'; }

/*      ScrollBar       */
/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
  cursor: pointer; }

/* Track */
::-webkit-scrollbar-track {
  background: rgba(216, 216, 216, 0.3);
  border-radius: 100px; }

/* Handle */
::-webkit-scrollbar-thumb {
  opacity: 0.12;
  background: rgba(0, 44, 113, 0.12);
  border-radius: 100px; }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 44, 113, 0.12); }

.container__wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); }

.ImageWrapper {
  margin-right: 1.125em;
  overflow: hidden; }

.profile {
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5);
  border-radius: 5px;
  padding: 1.250em;
  box-sizing: border-box;
  text-align: center;
  position: relative; }
  @media screen and (max-width: 500px) {
    .profile {
      padding-top: 2.375em; } }
  .profile figure {
    width: 100%;
    display: inline-flex;
    margin: 0; }
    .profile figure img {
      object-fit: cover;
      border-radius: 50%; }
      @media screen and (max-width: 500px) {
        .profile figure img {
          position: absolute;
          top: -48px;
          left: 50%;
          transform: translateX(-50%);
          margin: 0; } }
    .profile figure i {
      padding: 0;
      margin: 0;
      cursor: pointer; }
    .profile figure figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      @media screen and (max-width: 500px) {
        .profile figure figcaption {
          margin: 0 auto;
          align-items: center; } }
    .profile figure .like {
      position: relative;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
      color: #D3D3D3;
      font-size: 1em; }
    .profile figure .share {
      cursor: pointer;
      font-size: 0.75em;
      position: absolute;
      right: 0.750em;
      top: 0.750em;
      padding: 0;
      background-color: transparent;
      color: #FFA640; }
    .profile figure h5,
    .profile figure p {
      font-family: Montserrat;
      font-weight: normal; }
    .profile figure .profile__header {
      display: flex;
      align-items: center; }
      .profile figure .profile__header h5 {
        margin: 0;
        font-size: 1.125em;
        color: #002C71;
        letter-spacing: 0;
        margin-right: 8px; }
    .profile figure p {
      font-size: 0.750em;
      color: #8298b9;
      letter-spacing: 0;
      margin: 0;
      padding: 0; }
  .profile .popup {
    font-size: 16px;
    color: black;
    position: absolute;
    left: 0;
    top: -40px;
    z-index: 999;
    margin: 0;
    padding: 10px 30px;
    background: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 0 5px #999;
    text-decoration: none; }
  .profile__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.250em 0 0 0;
    box-sizing: border-box; }
    @media screen and (max-width: 500px) {
      .profile__social {
        flex-direction: column; } }
    .profile__social dl {
      list-style-type: none;
      margin: 0 1.5em 0 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-family: Montserrat;
      width: 100%; }
      @media screen and (max-width: 500px) {
        .profile__social dl {
          margin: 0 0 1.313em 0; } }
      .profile__social dl div {
        text-align: center;
        position: relative;
        width: 100%;
        padding: 0 1.250em; }
        .profile__social dl div dd {
          font-size: 1.5em;
          color: #FFA640;
          font-weight: normal;
          letter-spacing: 0;
          margin: 0; }
        .profile__social dl div dt {
          font-size: 0.625em;
          color: #aab9d0;
          letter-spacing: 0;
          line-height: 1em;
          margin: 0; }
        .profile__social dl div::after {
          content: '';
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: #f4f4f4;
          left: 0;
          top: 0; }
        .profile__social dl div:first-child::after {
          display: none; }
    .profile__social button {
      padding: 15px 29px;
      max-width: 140px;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      cursor: pointer;
      background: #FFA640;
      border-radius: 100px;
      font-size: 0.875em;
      box-sizing: border-box;
      font-weight: bolder;
      color: #FFFFFF;
      letter-spacing: 0.263em; }
      @media screen and (max-width: 500px) {
        .profile__social button {
          max-width: 100%;
          width: 100%; } }

.loading h1 {
  color: #002C71;
  font-family: Montserrat;
  font-size: 1em;
  font-weight: normal; }

.comments__input-wrapper.false {
  opacity: 1;
  transform: translateY(0%); }

.comments__input-wrapper.true {
  z-index: -1;
  opacity: 0;
  transform: translateY(-100%); }

.comments {
  margin-top: 1em;
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5);
  border-radius: 5px 5px 0 0;
  overflow: auto;
  display: flex;
  font-family: Montserrat;
  font-weight: normal;
  flex-flow: column;
  overflow: hidden; }
  .comments-more {
    text-align: left;
    font-size: 14px;
    color: #FFA640;
    box-sizing: border-box;
    margin: 25px 0 30px 20px;
    letter-spacing: 0;
    text-decoration: underline;
    cursor: pointer; }
  .comments ul {
    height: 456px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    transition: height ease-out 0.5s;
    will-change: height;
    margin: 0 6px 6px 0;
    box-sizing: border-box; }
    @media screen and (max-width: 500px) {
      .comments ul {
        height: 445px; } }
    .comments ul.false {
      height: 356px; }
    .comments ul.true {
      height: 0; }
    .comments ul li {
      list-style-type: none;
      display: flex;
      padding: 20px 9px 25px 20px;
      box-sizing: border-box;
      position: relative; }
      .comments ul li .img__wrapper {
        width: 40px;
        height: 40px;
        margin-right: 11px; }
        .comments ul li .img__wrapper div {
          background-color: transparent !important; }
        .comments ul li .img__wrapper img {
          object-fit: cover;
          border-radius: 50%;
          width: 40px;
          height: 40px; }
      .comments ul li:first-child::after {
        display: none; }
      .comments ul li::after {
        content: '';
        height: 2px;
        width: auto;
        background-color: #EBEBEB;
        position: absolute;
        left: 0;
        top: 0;
        width: 90%; }
      .comments ul li article {
        width: 100%;
        font-family: Montserrat;
        font-weight: normal;
        padding-top: 10px;
        overflow: hidden; }
        .comments ul li article header {
          display: flex;
          justify-content: space-between; }
          .comments ul li article header h5 {
            color: #002C71;
            letter-spacing: 0;
            font-size: 0.875em; }
          .comments ul li article header .date {
            font-size: 0.875em;
            color: #002C71;
            opacity: 0.5;
            letter-spacing: 0; }
        .comments ul li article p {
          font-size: 0.875em;
          margin: 1.5% 10% 0 0;
          color: #444444;
          letter-spacing: 0;
          line-height: 21px; }
  .comments__input-wrapper {
    position: absolute;
    display: flex;
    width: calc(100% - 2.5em);
    box-sizing: border-box;
    transition: transform ease-out 0.5s 0.1s, opacity ease-in 0.5s, z-index 0s;
    will-change: transform;
    box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5);
    top: 100%; }
    .comments__input-wrapper form {
      margin: 2.1em 2.125em 2em 1.625em;
      flex-grow: 1; }
      .comments__input-wrapper form input {
        border: none;
        font-family: Montserrat-Regular;
        font-size: 1.125em;
        color: #8298B9;
        letter-spacing: 0;
        outline: none;
        width: 100%;
        flex-grow: 1;
        border-bottom: 2px solid #DBE0E8; }
        .comments__input-wrapper form input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #8298B9; }
        .comments__input-wrapper form input:-ms-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #8298B9; }
        .comments__input-wrapper form input::placeholder {
          /* Chrome/Opera/Safari */
          color: #8298B9; }

.container {
  max-width: 498px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  padding: 2.25em 1.25em 0 1.25em; }
  @media screen and (max-width: 500px) {
    .container {
      max-width: 320px; } }
  .container::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 95px;
    background: #002C71;
    border-radius: 5px 5px 0 0; }

